<ion-header>
    <ion-toolbar class="primary">
        <ion-title>login</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content class="login1">
    <ion-content>
        <img>
        <ion-item>
            <ion-label position="floating">
                correo electrónico
            </ion-label>
            <ion-input type="text" name="email" [(ngModel)]="email"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="floating">
                contraseña
            </ion-label>
            <ion-input type="password" name="password" [(ngModel)]="password"></ion-input>
        </ion-item>
        <br>
        <ion-button (click)="OnSubmitLogin()">Iniciar sesión</ion-button>
    </ion-content>
</ion-content>